/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(0, 0, 0);  
    color: white;
    font: Verdana, Arial, Sans-Serif;
  
}


main {
    margin-left: 20px;
    width: 150em;
    position: relative; 
    align-items: center;
}


article {
    text-align: relative;
    width: 600px;
    float: right;
    font-size: 20px;
}


header {
    color: orange;
    text-align: center;
    background-color: rgb(50, 50, 50);
    border-style: dotted;
    margin-bottom: 20px;
    margin-top: 20px;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(255, 150, 50);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(50, 50, 50);
    overflow: hidden;
    float: left;
    border-style: dotted;
    border-color: rgb(255, 150, 50);
}

nav ul li {
    float: auto;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: white;
}

nav li a.active {
    background-color: orange;
}




